apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-flask-app-deployment
  labels:
    app: my-flask-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-flask-app
  template:
    metadata:
      labels:
        app: my-flask-app
    spec:
      containers:
      - name: my-flask-app-container
        image: ghcr.io/rosariovinoth/myk8sapp:multidb
        ports:
        - containerPort: 5000
        envFrom:
        - configMapRef: # Reference the new ConfigMap
            name: db-configmap
        - secretRef:    # Continue referencing the Secret for sensitive data
            name: db-credentials-secret
        # No individual 'env' entries needed for ConfigMap or Secret keys
      restartPolicy: Always
    
