# service.yaml
apiVersion: v1
kind: Service
metadata:
  name: my-flask-app-multidb-service
  labels:
    app: my-flask-app-multidb # Important for ServiceMonitor to select this service
spec:
  selector:
    app: my-flask-app-multidb # Matches the label on your DeploymentConfig's pod template
  ports:
    - protocol: TCP
      port: 5000 # Service port
      targetPort: 5000 # Container port
      name: flask
  type: ClusterIP # Internal service within the cluster
